<template name="viewTrackedItem">
{{#with currentTrackedItem this._id}}
	<form class="main">
		<div class="control-group">
			<table class="table">
			{{#eachProperty itemValues}}
				<tr>
					<td><strong>{{property}}:</strong></td><td>{{value}}</td>
				</tr>
			{{/eachProperty}}
			</table>
		</div>
		<div class="control-group">
			<div class="controls">
				<a class="btn edit" href="{{createTrackedItemPath 'edit' _id}}">Edit</a>
				<a class="btn btn-danger delete" href="#" data-id="{{_id}}">Delete
				</a>
			</div>
		</div>
	</form>
{{/with}}
</template>
