<template name="viewInventoryGroup">
{{#with currentInventoryGroup this._id}}
	<form class="main">

		<div class="control-group">
			<h3>{{name}}</h3>
			<p>default template id: {{defaultTemplateId}}</p>
		</div>

		<div class="control-group">
			<div class="controls">
				<a class="btn edit" href="{{editInventoryGroupPath _id}}">Edit</a>
				<a class="btn btn-danger delete" href="#" data-id="{{_id}}">Delete
				</a>
				<a class="btn edit" href="{{createTrackedItemPath 'create' _id}}">
					Add item to group</a>
				<a class="btn" href="{{viewInventoryGroupItemsPath _id}}">View Items</a>
			</div>
		</div>

	</form>
{{/with}}

</template>

